@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3" style="color: #FF9900;">Welcome to AWS S3 Manager</h1>
    <img src="~/assets/aws_s3.png" class="img-fluid" alt="aws_s3" style="margin-top: 20px; margin-bottom:20px;">
    <p>This sample is created by using .NET Core 3.1 and AWS .NET SDK.</p>
    <a class="btn btn-dark" href="/Home/s3Manager" role="button">Let's Start!</a>
</div>
