@{  
    ViewBag.Title = "Upload a file to S3 Bucket";  
}  
<h2>@ViewBag.Title.</h2>  
<h3>@ViewBag.Message</h3>  
  
<p>Use this area to browse image and upload to S3 bucket.</p> 

<form method="post" asp-action="uploadFile" asp-controller="Home" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="upload"/>
</form>

<div>
    @foreach (var image in Model)
    {
        //Your logic here eg:
        <img class="img" src="@image" />
        
    }

</div>


